<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="entelProject">

	<listeners>
		<listener class-name="com.entel.utilities.Reporting" />
	</listeners>

	<test name="Tests">
		<parameter name="browser" value="chrome" />
		<classes>	
			<class name="com.entel.tests.TC_BeneficiousEntelPageValidation" />
			<class name="com.entel.tests.TC_ConfiguracionPageValidation" />	
			<class name="com.entel.tests.TC_ConsumoPageValidation" />	
			<class name="com.entel.tests.TC_DisplayAllUserAccount" />
			<class name="com.entel.tests.TC_EquipoPageValidation" />
			<class name="com.entel.tests.TC_MyBallotValidation" />
			<class name="com.entel.tests.TC_MyPlanValidation" />
			<class name="com.entel.tests.TC_RecargarPageValidation" />
			<class name="com.entel.tests.TC_RoamingPageValidation" />
			<class name="com.entel.tests.TC_ValidLoginTest" />
			<class name="com.entel.tests.TC_InValidLoginTest" />
			<class name="com.entel.tests.TC_BolsasPageValidation" />
			<class name="com.entel.tests.TC_UserSpecificLinksValidation" />
		</classes>
	</test>

</suite>